<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_club' %}#clubs">Clubs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dienstplan' %}">Dienstpläne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_schedule' %}">neuen Dienstplan erstellen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_employee' %}#employee">Mitarbeiter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>