
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Mitarbeiter Dashboard{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'admin_dashboard' %}">Mitarbeiter Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dienstplan_coworker' %}">Dienstplan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_shift_preference' %}">Dienstplan Wünsche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'non_working_days' %}">nicht verfügbar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_employee' %}#employee">Tauschbörse</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
{% block script %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>