<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Mitarbeiter Login{% endblock %}</title>
</head>
<body>
<div class="container mt-5">
  <h2>Login</h2>
  
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}<br>
    {{ form.password.label_tag }} {{ form.password }}<br>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
</body>
</html>